.result {
  padding: 3rem;
}

.social {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.light {
  white-space: nowrap;
  margin: 0;
  color: #4b6a9b;
}

.dark {
  white-space: nowrap;
  margin: 0;
  color: #fff;
}

.social a:hover {
  text-decoration: underline;
}

@media (max-width: 580px) {
  .result {
    padding: 3rem 24px;
  }
}
