.gitContainer {
  background: #f6f8ff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 35px;
}

.light {
  background: #f6f8ff;
}

.dark {
  background: #141d2f;
}

.gitContainer ul {
  padding-left: 2rem;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20%;
}

.gitContainer p {
  margin: 0;
  font-size: 13px;
  line-height: 19px;
}

.gitContainer h3 {
  margin: 0;
  font-size: 22px;
  line-height: 33px;
}

@media (max-width: 580px) {
  .gitContainer {
    margin-top: 24px;
  }

  .gitContainer ul {
    padding-left: 0;
    justify-content: center;
    text-align: center;
    gap: 10%;
  }

  .gitContainer p {
    font-size: 11px;
    line-height: 16px;
  }

  .gitContainer h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
