.searchResultContainer {
  display: flex;
  gap: 37px;
}
.searchResultContainer .desktop {
  background: #4b6a9b;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  display: block;
}
.searchResultContainer .mobile {
  display: none;
}

.searchResultContainer .iconDesktop {
  width: 117px;
  height: 117px;
}

.searchResultContainer img {
  border-radius: 50%;
}

.infoDiv {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.data {
  width: 100%;
}

.data h2 {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
}

.light h2 {
  color: #2b3442;
}

.light p {
  color: #697c9a;
}

.dark {
  color: #fff;
}

.data a {
  font-size: 16px;
  line-height: 24px;
  color: #0079ff;
  text-decoration: none;
}

.data p {
  margin-top: 0.5rem;
  font-size: 15px;
  line-height: 22px;
}

.nameDateDiv {
  row-gap: 2px;
  margin-bottom: 20px;
}

.result {
  padding: 3rem;
}

@media (max-width: 820px) {
  .nameDateDiv {
    grid-template-rows: repeat(3, auto);
  }
  .searchResultContainer .mobile {
    display: block;
  }

  .searchResultContainer .desktop {
    display: none;
  }
  .nameDateDiv {
    display: grid;
    justify-content: start;
    column-gap: 40px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .infoDiv {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  .bioDiv {
    position: relative;
    width: 30rem;
    left: -180px;
  }

  .iconMobile {
    width: 117px;
    height: 117px;
  }
}

@media (max-width: 580px) {
  .data h2 {
    font-size: 16px;
    line-height: 24px;
  }

  .data a {
    font-size: 13px;
    line-height: 19px;
  }

  .data p {
    font-size: 13px;
    line-height: 19px;
  }

  .iconMobile {
    width: 70px;
    height: 70px;
  }
}
