html {
  font-family: "space-mono", monospace;
}
body {
  margin-top: 8.5rem;
}

body.light {
  background: #f6f8ff;
}

body.dark {
  background: #141d2f;
}

.wrapper {
  max-width: 45rem;
  width: 80%;
  margin: auto;
}

@media (max-width: 580px) {
  .wrapper {
    width: 90%;
  }

  body {
    margin-top: 2rem;
  }
}
