@font-face {
  font-family: "space-mono";
  src: url(./assets/fonts/SpaceMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "space-mono-bold";
  src: url(./assets/fonts/SpaceMono-Bold.ttf) format("truetype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "space-mono", monospace;
  background: #f6f8ff;
}

body {
  margin: 0;
}
